@import url("https://fonts.googleapis.com/css2?family=Baloo+Thambi+2:wght@500&family=Montserrat:wght@400;500&display=swap");

:root {
  --pink: #f5d6d3;
  --light-yellow: #fbf5e5;
  --gray: #32312d;
}

* {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

body {
  box-sizing: border-box;
  background: linear-gradient(
      rgba(245, 214, 211, 0.7) 100%,
      rgba(245, 214, 211, 0.7) 100%
    ),
    url("./assets/background.jpg");
  width: 100vw;
  height: 100vh;
  color: var(--gray);
  overflow: hidden;
}

button {
  background-color: transparent;
  outline: transparent;
  border: none;
  cursor: pointer;
}

/*? ----------------    GENERAL WINDOW   ------------------- */

.window {
  background-color: var(--light-yellow);
  border: 1px solid #32312d;
  box-shadow: 6px 6px 0px #32312d;
  border-radius: 4px;
  position: relative;
}

.window-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #32312d;
  padding: 5px 10px;
}

.window-header__decorator-circle {
  display: inline-block;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: transparent;
  border: 2px solid var(--gray);
  margin-right: 4px;
}

.window-header__title {
  font-family: "Baloo Thambi 2", cursive;
  font-size: 1.2rem;
  font-weight: bold;
}

.window-header__button img {
  width: 100%;
  height: 1.7rem;
}

.window textarea {
  width: 100%;
  height: 250px;
  overflow-y: auto;
  outline: none;
  resize: none;
  border: none;
  background-color: var(--light-yellow);
}

/*? ----------------    EDITOR   ------------------- */

.editor {
  position: absolute;
  width: 40vw;
  top: 2%;
  left: 3%;
  z-index: 10;
  transition: 0.5s all;
}

/*? ----------------    PREVIEWER   ------------------- */

.previewer {
  position: absolute;
  width: 60vw;
  bottom: 2%;
  right: 3%;
  z-index: 5;
  transition: 0.5s all;
}

.previewer-body {
  padding: 1em;
  background: linear-gradient(
      rgba(245, 214, 211, 0.7) 100%,
      rgba(245, 214, 211, 0.7) 100%
    ),
    url("./assets/squared\ sheet.jpg");
  background-blend-mode: multiply;
  background-size: cover;
  background-position: top;
  height: 250px;
  overflow-y: auto;
  overflow-x: hidden;
}

/*? ----------------    SCROLLBAR   ------------------- */

::-webkit-scrollbar {
  width: 25px;
  border: 1px solid var(--gray);
  background-color: var(--light-yellow);
}

::-webkit-scrollbar-button {
  border-style: solid;
  height: 20px;
  width: 16px;
}

::-webkit-scrollbar-button:vertical:decrement {
  border-bottom: transparent;
  height: 24px;
  background: url("./assets/arrow-up.svg");
  background-position: center;
  background-size: cover;
  border-right: 1px solid var(--gray);
  border-left: 1px solid var(--gray);
  border-top: 1px solid var(--gray);
}

::-webkit-scrollbar-button:vertical:increment {
  border-top: transparent;
  height: 24px;
  background: url("./assets/arrow-down.svg");
  background-position: center;
  background-size: cover;
  border-right: 1px solid var(--gray);
  border-left: 1px solid var(--gray);
  border-bottom: 1px solid var(--gray);
}

::-webkit-scrollbar-track {
  border-radius: 20px;
}

::-webkit-scrollbar-thumb {
  border: 2px solid var(--gray);
  background-color: var(--light-yellow);
  border-radius: 20px;
}

/*? ----------------    EXPANDED   ------------------- */
.expanded {
  position: absolute;
  width: 80vw;
  height: 80vh;
  top: 10%;
  left: 10%;
  transition: 0.5s all;
}

.expanded textarea {
  height: 72vh;
}

.expanded-previewer {
  position: absolute;
  width: 80vw;
  height: 80vh;
  bottom: 10%;
  right: 10%;
  transition: 0.4s all;
  z-index: 11;
}

.expanded-previewer .previewer-body {
  height: 67vh;
}

/*? ----------------    SOCIAL LINKS   ------------------- */

.social-links {
  text-align: center;
  position: absolute;
  bottom: 10%;
  left: 10%;
  list-style: none;
}

.social-links li {
  margin-bottom: 4px;
  transition: 0.3s all;
}

.social-links li:hover {
  transform: translateX(-10px);
}

.social-links li img {
  width: 2.5rem;
}
.social-links li a {
  color: var(--gray);
  text-decoration: none;
}
.social-links li p {
  margin-top: 3px;
  font-weight: 600;
  font-size: 0.8rem;
}
